{% load static %}
<nav class="nav" data-nav aria-label="Main">
    <div class="nav__bar">
        <a href="{% url 'home' %}" class="nav__logo" aria-label="Fitness Empire home">
            <img src="{% static 'img/logo_fitness_empire-removebg-preview.webp' %}"
                 alt="" width="62" height="62">
            <span class="nav__wordmark">
                <b>Fitness Empire</b>
                <span>Train Relentless</span>
            </span>
        </a>

        <form method="GET" action="{% url 'searchdata' %}" class="nav__search" role="search">
            <label for="nav-search" class="visually-hidden">Search products</label>
            <div class="nav__search-field">
                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.44.58.98 1.12l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a7 7 0 0 0-1.12-.98zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                <input type="search" id="nav-search" name="query" value="{{ query|default:'' }}"
                       placeholder="Search supplements, classes, plans..." autocomplete="off">
            </div>
            <button type="submit">Search</button>
        </form>

        <div class="nav__actions">
            <a href="{% url 'wishlist' %}" class="nav__cart nav__wish" aria-label="View wishlist">
                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                    <path d="M8 14.25 6.84 13.2C2.72 9.47.5 7.46.5 5A3.5 3.5 0 0 1 4 1.5c1.36 0 2.66.63 3.5 1.64A4.66 4.66 0 0 1 11 1.5 3.5 3.5 0 0 1 14.5 5c0 2.46-2.22 4.47-6.34 8.2z"/>
                </svg>
                <span class="nav__cart-count{% if not wishlist_count %} is-empty{% endif %}"
                      data-wishlist-count>{{ wishlist_count|default:0 }}</span>
            </a>

            <a href="{% url 'viewcart' %}" class="nav__cart" aria-label="View cart">
                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                </svg>
                <span class="nav__cart-count{% if not cart_count %} is-empty{% endif %}"
                      data-cart-count>{{ cart_count|default:0 }}</span>
            </a>

            <div class="account" data-account>
                <button type="button" class="account__toggle" aria-expanded="false" aria-haspopup="true">
                    <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                        <path d="M8 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM2 14s1-4 6-4 6 4 6 4H2z"/>
                    </svg>
                    <span class="account__name">{% if user.is_authenticated %}{{ user.username }}{% else %}Sign in{% endif %}</span>
                </button>

                <div class="account__menu" role="menu">
                    {% if user.is_authenticated %}
                        <div class="account__greeting">
                            <span class="account__avatar" aria-hidden="true">{{ user.username|first }}</span>
                            <span class="account__who">
                                <span>Signed in as</span>
                                <strong>{{ user.username }}</strong>
                            </span>
                        </div>

                        <div class="account__group">
                            <a href="{% url 'my_profile' %}" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2 1H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h8a2 2 0 0 0 2-2 4 4 0 0 0-4-4"/></svg>
                                My profile
                            </a>
                            <a href="{% url 'myorders' %}" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6zm-7.5 10.522V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/></svg>
                                My orders
                            </a>
                            <a href="{% url 'wishlist' %}" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M8 14.25 6.84 13.2C2.72 9.47.5 7.46.5 5A3.5 3.5 0 0 1 4 1.5c1.36 0 2.66.63 3.5 1.64A4.66 4.66 0 0 1 11 1.5 3.5 3.5 0 0 1 14.5 5c0 2.46-2.22 4.47-6.34 8.2z"/></svg>
                                My wishlist
                                {% if wishlist_count %}<span class="account__tally">{{ wishlist_count }}</span>{% endif %}
                            </a>
                            <a href="{% url 'my_addresses' %}" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M8 0a5 5 0 0 0-5 5c0 3.5 5 11 5 11s5-7.5 5-11a5 5 0 0 0-5-5m0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4"/></svg>
                                My addresses
                            </a>
                            <a href="{% url 'profile' %}" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7zm3 4h3v1H3z"/></svg>
                                My membership
                            </a>
                        </div>

                        {% if user.is_superuser %}
                        <div class="account__group">
                            <p class="account__label">Staff tools</p>
                            <a href="{% url 'showdetails' %}" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z"/></svg>
                                Manage products
                            </a>
                            <a href="/admin/" role="menuitem">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.46 1.46 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.46 1.46 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.46 1.46 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.46 1.46 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.46 1.46 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.46 1.46 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.46 1.46 0 0 1-2.105-.872zM8 10.93a2.93 2.93 0 1 1 0-5.86 2.93 2.93 0 0 1 0 5.86"/></svg>
                                Django admin
                            </a>
                        </div>
                        {% endif %}

                        <div class="account__group">
                            <a href="{% url 'signout' %}" role="menuitem" class="is-danger">
                                <svg viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/><path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/></svg>
                                Log out
                            </a>
                        </div>
                    {% else %}
                        <div class="account__cta">
                            <a href="{% url 'login' %}" class="is-primary" role="menuitem">Sign in</a>
                            <a href="{% url 'register' %}" class="is-secondary" role="menuitem">Create account</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <button type="button" class="nav__burger" data-nav-toggle
                    aria-expanded="false" aria-controls="nav-menu" aria-label="Toggle navigation menu">
                <span></span><span></span><span></span>
            </button>
        </div>
    </div>

    <div class="nav__menu" id="nav-menu">
        <div class="nav__menu-inner">
            <a href="{% url 'membershipannual' %}">Memberships</a>
            <a href="{% url 'dietplan' %}">Diet Plan</a>
            <a href="{% url 'all_classes' %}">Classes</a>
            <a href="{% url 'training' %}">Training</a>
            <a href="{% url 'protien' %}">Products</a>
            <a href="{% url 'aboutus' %}">About us</a>
            <a href="{% url 'careers' %}">Careers</a>
        </div>
    </div>
</nav>
